@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Delete User @ViewBag.Id</h1>
<p>Are you Sure?</p>

<a class="btn btn-danger"href="/User/Delete/@ViewBag.Id">Yes</a>
<a class="btn btn-success"href="/User/Index">No</a>